.card{
    border: 1px solid black;
    border-radius: 5px;
    max-width:  20%;
    text-align: center;
    display: inline-block;
    margin-right: 30px;
}
.card img{
    height: 200px;
    border-radius: 10px;
    padding: 20px 0px 0px 0px;
    width: 80%;
}
.card h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.card p{
    text-align: center;
    font-size:medium;
}
.card button:hover{
    background-color: cadetblue;
    cursor: pointer;
}
.heading{
    border: none;
    padding: 10px;
    border-radius: 5px;
    background-color: cornflowerblue;
    color: black;
    font-size: 2em;
}
.heading1{
    border: none;
    padding: 10px;
    border-radius: 5px;
    background-color: red;
    color:white;
    font-size: 2em;
}